<!DOCTYPE html>
<html ng-app="appName">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Tutorial</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.angularjs.org/1.6.7/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="groceryList">

    <div id="grocery-app">

      <h1 class="title">{{owner}}'s Grocery List</h1>

      <h3 class="list-note" ng-bind="notice">Here are some things you need to buy:</h3>

      <ul class="grocery-list" ng-repeat="item in groceryList">
        <div ng-if="groceryList.length > 1">
          <li class="list-item" ng-click="removeItem(item)"><img class="bullet-img" src="imgs/icon.svg"/> {{item}}</li>
          <h4 class="list-desc">(Click on an item to remove it from the list)</h4>

        </div>
      </ul>



      <h3 class="add-note">Add an item to the list:</h3>

      <input class="item-input" ng-model="groceryItem"/>
      <button class="add-btn" type="button" ng-if="groceryItem" ng-click="addItem(groceryItem)">Add Item</button>

    </div>

  </body>
</html>
